.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  font-family: 'Sirin Stencil';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;

  background-color: rgb(61, 184, 93);
  padding: 0 0 15px;
  color: white;
  width: 100%;
}

.text_input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px 5px 5px;
  font-size: 17px;
  color: black;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  padding: 0 5px 0;
}

.header button {
  height: 20px;
  width: 20px;
}